.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  width: "100px";
}
.ex1 {
  /* width: 900px; */
  margin: auto;
  /* border: 3px solid #000; */
  border-radius: 25px;
  text-align: center;
  overflow-x: auto;
}
h3 {
  text-align: center;
}
.table-responsive {
  overflow-y: hidden;
}
.ex2 {
  margin: auto;
  border-radius: 25px;
  overflow-x: auto;
}
.text-right{
  text-align:left
}